@charset "UTF-8";
/* line 1, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body {
  background-color: white !important;
  height: !important;
  overflow: visible !important;
}
/* line 3, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body #outer_wrapper {
  overflow: visible !important;
}
/* line 10, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .slideshow {
  overflow: visible;
}
/* line 14, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .navigation, body .navigation_mobile, body .scroll_indicator {
  display: none !important;
}
/* line 18, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .print_image, body .print_only {
  display: block;
}
/* line 21, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .print_only.page_url {
  padding-left: 17px;
}
/* line 25, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body sidebar {
  display: none;
}
/* line 29, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .print_copyright {
  float: right;
  padding-right: 8%;
}
/* line 34, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page, body .slideshow section.page {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  color: black !important;
  display: block;
}
/* line 42, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page > *, body .slideshow section.page > * {
  position: absolute;
  z-index: 1;
}
/* line 48, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page:first-child .content_and_background .scroller > div:after, body .slideshow section.page:first-child .content_and_background .scroller > div:after {
  content: " ";
  position: absolute;
  width: 109px;
  height: 32px;
  background-image: none;
  background-repeat: no-repeat;
  top: 30px;
  z-index: 200;
}
/* line 60, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .print_image, body section.page .print_only, body .slideshow section.page .print_image, body .slideshow section.page .print_only {
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  page-break-inside: avoid !important;
}
/* line 70, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .page_header, body .slideshow section.page .page_header {
  page-break-inside: avoid !important;
}
/* line 74, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .contentText, body section.page .videoPage .contentText, body section.page .audioPage .contentText, body .slideshow section.page .contentText, body .slideshow section.page .videoPage .contentText, body .slideshow section.page .audioPage .contentText {
  margin-bottom: 20px;
}
/* line 78, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .videoPage .vjs-control-bar, body section.page .audioPage .-vjs-control-bar, body .slideshow section.page .videoPage .vjs-control-bar, body .slideshow section.page .audioPage .-vjs-control-bar {
  display: none !important;
}
/* line 82, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .vjs-control-bar, body .slideshow section.page .vjs-control-bar {
  display: none !important;
}
/* line 86, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .shadow, body .slideshow section.page .shadow {
  display: none;
}
/* line 90, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page section, body section.page .page, body section.page .scroller, body section.page .fade-out, body section.page .fade-out > *, body section.page *, body .slideshow section.page section, body .slideshow section.page .page, body .slideshow section.page .scroller, body .slideshow section.page .fade-out, body .slideshow section.page .fade-out > *, body .slideshow section.page * {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-backface-visibility: initial;
}
/* line 96, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .scroller > div, body section.page .content_and_background > .page_header, body .slideshow section.page .scroller > div, body .slideshow section.page .content_and_background > .page_header {
  padding: 10px 8% 5% 8%;
  width: 100%;
}
/* line 102, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .content_and_background, body .slideshow section.page .content_and_background {
  width: 100%;
  min-height: auto;
  position: initial;
}
/* line 108, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .content, body .slideshow section.page .content {
  width: 100%;
  position: relative;
  font-size: 9pt;
}
/* line 114, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page h1, body section.page h2, body section.page h3, body section.page p, body .slideshow section.page h1, body .slideshow section.page h2, body .slideshow section.page h3, body .slideshow section.page p {
  max-width: initial;
}
/* line 119, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .backgroundArea, body .slideshow section.page .backgroundArea {
  width: initial;
  height: initial;
  position: absolute;
  background-color: white;
}
/* line 125, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .scroller, body section.page .content .scroller , body .slideshow section.page .scroller, body .slideshow section.page .content .scroller  {
  opacity: 1 !important;
  visibility: visible !important;
  height: auto;
  position: relative;
}
/* line 131, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .scroller > div, body .slideshow section.page .scroller > div {
  transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  /* IE 9 */
  -webkit-transform: translate3d(0, 0, 0) !important;
  /* Safari and Chrome */
  transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  /* IE 9 */
  -webkit-transform: translate(0, 0) !important;
  /* Safari and Chrome */
  top: 0 !important;
}
/* line 140, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .scroller > div, body .slideshow section.page .scroller > div {
  position: relative;
}
/* line 143, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page .scroller.fade-out, body section.page .scroller.fade-in, body .slideshow section.page .scroller.fade-out, body .slideshow section.page .scroller.fade-in {
  visibility: visible !important;
  opacity: 1 !important;
  color: black;
}
/* line 150, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .blackLayer {
  display: none !important;
}
/* line 154, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body * {
  background-color: white !important;
}
/* line 158, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .page[data-template="video"] {
  background-color: white !important;
}
/* line 162, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body section.page {
  display: block;
  background-color: white !important;
}
/* line 167, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body.js .page:first-child.invert .content_and_background .scroller > div:after {
  background-image: none !important;
}
/* line 171, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body.js .controls, body .add_info_box {
  position: relative !important;
  bottom: initial;
  top: 0 !important;
}
/* line 177, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body.js .controls .add_info_box:before {
  background-color: transparent;
}
/* line 181, /home/modems/.rvm/gems/ruby-2.3.4/bundler/gems/pageflow-4a40db29ff73/app/assets/stylesheets/pageflow/print_view.scss */
body .video-js {
  display: none !important;
}
